@media (max-width: 600px){
    /*-----------------CABECALHO----------------*/
    header img{
        width: 8vh;
    }

    header li{
        padding: 2px;
    }

    header nav{
        width: 100%;
    }

    nav a{
        font-size: 11px;
        padding: 0px 10px 0px 10px;
    }

    #navegacao a::after{
        display: none;
    }

    #navegacao a:hover::after{
        display: none;
    }
    /*-----------------CABECALHO-FIM----------------*/

    /*-----------------FIRST-PAGE----------------*/
    #first_section{
        flex-wrap: wrap;
        margin-left: 0%;
        min-height: 60vh;
        justify-content: center;
        height: auto;
        font-size: 30px;
    }

    #text_first_section{
        text-align: center;
        margin-left: 4%;
        width: 100%;
    }

    #text_first_section p{
        padding-left: 0%;
    }

    #image_first_section{
        align-items: center;
        width: 67%;
    }

    #image_first_section img{
        max-width: 125%;
        min-height: 40vh;
        height: auto;
        object-fit: cover;
        animation: none;
    }
    /*
    /*-----------------FIRST-PAGE-FIM----------------*/


    /*-----------------SECOND-PAGE----------------*/
    #sobre_section{
        padding: 20px;
        height: auto;
    }

    #text_sobre_section{
        width: 100%;
    }

    #text_sobre_section p{
        margin-bottom: 20px;
        font-size: 13px;
    }

    #text_sobre_section h2{
        font-size: 15px;
        margin-top: 0px;
    }

    #image_sobre_section{
        width: 0%;
    }

    #image_sobre_section img{
        display: none;
    }
    /*-----------------SECOND-PAGE-FIM----------------*/

    /*-----------------THIRD-PAGE----------------*/
    #produtos_section{
        height: auto;
        padding: 30px;
    }

    #produtos_section h2{
        font-size: 35px;
    }

    #produtos{
        flex-direction: column;
        font-size: 12px;
        margin-top: 30px;
    }

    #produtos img{
        transition: none;
        padding: 10px;
        margin-bottom: 5px;
        width: 180px;
    }

    #produtos img:hover{
        width: 180px;
    }
    /*-----------------THIRD-PAGE-FIM----------------*/

    /*-----------------FOURTH-PAGE----------------*/
    #qualidades-section{
        height: auto;
        padding: 30px;
        padding-left: 40px;
        padding-right: 40px;
    }

    #qualidade2{
        display: none;
    }

    #qualidades-section img{
        width: 200px;
        border: solid #fff9f3 10px;
    }

    #qualidades-section h3{
        padding-top: 20px;
        font-size: 25px;
    }

    #qualidades-section p{
        font-size: 12px;
        padding-top: 15px;
    }
    /*-----------------FOURTH-PAGE-FIM----------------*/

    /*-----------------FIFTH-PAGE----------------*/
    #vantagens-section{
        font-size: 20px;
        padding: 20px;
    }

    #vantagens{
        flex-wrap: wrap;
        font-size: 15px;
        padding: 40px;
    }

    #vantagens div{
        width: 100px;
    }

    #vantagens p{
        padding-bottom: 20px;
        border-bottom:  1px solid #3f3030;
    }

    #vantagens-section img{
        margin-top: 40px;
        width: 80px;
    }
    /*-----------------FIFTH-PAGE-FIM----------------*/

    /*-----------------SIXTH-PAGE----------------*/
    #instagram-section{
        height: 125vh;
        max-width: display;
    }

    #titulo-instagram{
        font-size: 60px;
        margin-bottom: 30px;
    }

    #instagram_posts{
        flex-wrap: wrap;
    }

    .instagram {
        width: 230px;
        margin-bottom: 30px;
    }

    .postagem i{
        width: 15px;
        margin-bottom: 5px;
    }

    .descricao {
        font-size: 10px;
    }

    #instagram-1{
        animation: none;
        display: none;
    }
    #instagram-2{
        animation: crescerDiminuir 4s infinite;
        animation-delay: 0.3s;
    }
    
    #instagram-3{
        animation: crescerDiminuir 4s infinite;
        animation-delay: 0.6s;
    }
    

    @keyframes crescerDiminuir {
        0% {
            width: 230px;
        }
        50% {
            width: 240px;
        }
        100% {
            width: 230px;
        }
    }
    /*-----------------SIXTH-PAGE-FIM----------------*/

    /*-----------------SEVENTH-PAGE----------------*/
    #servicos-section{
        padding: 20px;
        height: auto;
    }

    #text_services-section{
        width: 100%;
    }

    #text_services-section h2{
        font-size: 15px;
        margin-top: 0px;
    }

    #text_services-section p{
        margin-bottom: 20px;
        font-size: 13px;
    }

    #image_services-section{
        width: 0%;
        display: none;
    }

    #image_services-section img{
        width: 250px;
    }
    /*-----------------SEVENTH-PAGE-FIM----------------*/

    /*-----------------FOOTER----------------*/
    #imagem_footer{
        max-height: 30vh;
    }

    footer p{
        font-size: 10px;
    }

    #nome{
        font-size: 10px;
    }

    #footer_info{
        height: auto;
        padding-top: 1%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 1%;
    }

    .titulo{
        font-size: 15px;
    }

    #infos{
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 1%;
        justify-content: left;
    }

    #infos div{
        padding-right: 40px;
        padding-bottom: 20px;
    }

    #contatos img{
        width: 20px;
    }
    /*-----------------FOOTER-FIM----------------*/
}

/*-------------------------------------------------------------------------600-1279-------------------------------------------------------------------------*/
@media (min-width: 600px) and (max-width: 1279px){
    /*-----------------CABECALHO----------------*/
    header img{
        width: 13vh;
    }

    header li{
        padding: 5px;
    }

    header nav{
        width: 100%;
    }

    nav a{
        font-size: 15px;
        padding: 0px 20px 0px 20px;
    }

    #navegacao a::after{
        display: none;
    }

    #navegacao a:hover::after{
        display: none;
    }
    /*-----------------CABECALHO-FIM----------------*/

    /*-----------------FIRST-PAGE----------------*/
    #first_section{
        height: auto;
        font-size: 50px;
    }

    #text_first_section{
        margin-left: 5%;
        width: 30%;
    }

    #image_first_section{
        align-items: center;
        width: 60%;
    }

    #image_first_section img{
        max-width: 100%;
        min-height: 45vh;
        height: auto;
        object-fit: cover;
        animation: none;
    }
    /*
    /*-----------------FIRST-PAGE-FIM----------------*/


    /*-----------------SECOND-PAGE----------------*/
    #sobre_section{
        padding: 20px;
        height: auto;
    }

    #text_sobre_section{
        font-size: 15px;
    }

    #text_sobre_section p{
        margin-bottom: 20px;
    }

    #text_sobre_section h2{
        margin-top: 0px;
    }

    #image_sobre_section{
        width: 45%;
    }

    #image_sobre_section img{
        width: 250px;
    }
    /*-----------------SECOND-PAGE-FIM----------------*/

    /*-----------------THIRD-PAGE----------------*/
    #produtos_section{
        height: auto;
        padding: 40px;
    }

    #produtos_section h2{
        font-size: 40px;
    }

    #produtos{
        font-size: 12px;
        margin-top: 30px;
    }

    #produtos img{
        transition: none;
        padding: 10px;
        margin-bottom: 5px;
        width: 100px;
    }

    #produtos img:hover{
        width: 100px;
    }
    /*-----------------THIRD-PAGE-FIM----------------*/

    /*-----------------FOURTH-PAGE----------------*/
    #qualidades-section{
        height: auto;
        padding: 40px;
        padding-left: 60px;
        padding-right: 60px;
    }

    #qualidades-section img{
        width: 200px;
        border: solid #fff9f3 10px;
    }

    #qualidades-section h3{
        padding-top: 20px;
        font-size: 25px;
    }

    #qualidades-section p{
        font-size: 12px;
        padding-top: 15px;
    }
    /*-----------------FOURTH-PAGE-FIM----------------*/

    /*-----------------FIFTH-PAGE----------------*/
    #vantagens-section{
        font-size: 30px;
        padding: 40px;
    }

    #vantagens{
        flex-wrap: wrap;
        font-size: 30px;
        padding: 40px;
    }

    #vantagens div{
        width: 200px;
    }

    #vantagens p{
        padding-bottom: 40px;
    }

    #vantagens-section img{
        margin-top: 40px;
        width: 160px;
    }
    /*-----------------FIFTH-PAGE-FIM----------------*/

    /*-----------------SIXTH-PAGE----------------*/
    #instagram-section{
        height: 60vh;
    }

    #titulo-instagram{
        font-size: 80px;
        margin-bottom: 30px;
    }

    #instagram_posts{
        flex-wrap: wrap;
    }

    .instagram {
        width: 200px;
    }

    .postagem i{
        width: 15px;
        margin-bottom: 5px;
    }

    .descricao {
        font-size: 10px;
    }

    #instagram-1{
        animation: none;
        display: none;
    }
    #instagram-2{
        animation: crescerDiminuir 4s infinite;
    }
    
    #instagram-3{
        animation: crescerDiminuir 4s infinite;
    }
    

    @keyframes crescerDiminuir {
        0% {
            width: 200px;
        }
        50% {
            width: 210px;
        }
        100% {
            width: 200px;
        }
    }
    /*-----------------SIXTH-PAGE-FIM----------------*/

    /*-----------------SEVENTH-PAGE----------------*/
    #servicos-section{
        padding: 20px;
        height: auto;
    }

    #text_services-section{
        font-size: 15px;
    }

    #text_services-section p{
        margin-bottom: 20px;
    }

    #image_services-section{
        width: 45%;
    }

    #image_services-section img{
        width: 250px;
    }
    /*-----------------SEVENTH-PAGE-FIM----------------*/

    /*-----------------FOOTER----------------*/
    #imagem_footer{
        max-height: 40vh;
    }

    footer p{
        font-size: 10px;
    }

    #nome{
        font-size: 10px;
    }

    #footer_info{
        height: auto;
        padding-top: 1%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 1%;
    }

    .titulo{
        font-size: 15px;
    }

    #infos{
        justify-content: space-around;
        flex-wrap: wrap;
        padding-top: 1%;
        justify-content: left;
    }

    #infos div{
        padding-right: 40px;
        padding-bottom: 20px;
    }

    #contatos img{
        width: 20px;
    }
    /*-----------------FOOTER-FIM----------------*/
}

/*-------------------------------------------------------------------------900-1799-------------------------------------------------------------------------*/
@media (min-width: 1280px) and (max-width: 1799px) {
    /*-----------------CABECALHO----------------*/
    header nav{
        width: 70%;
    }
    /*-----------------CABECALHO-FIM----------------*/

    /*-----------------FIRST-PAGE----------------*/
    #first_section{
        font-size: 80px;
    }
    
    #text_first_section{
        margin-left: 4%;
        width: 40%;
    }
    
    #image_first_section{
        display: flex;
        width: 46%;
        align-self: flex-end;
    }
    
    #image_first_section img{
        animation: mover 17s linear infinite;
        max-width: 105%;
        height: 84vh;
        object-fit: cover;
    }
    
    @keyframes mover {
        0% {
            transform: translateX(-6%);
        }
        20% {
            transform: translateX(-9%);
        }
        40% {
            transform: translateX(-5%);
        }
        60% {
            transform: translateX(-9%);
        }
        80% {
            transform: translateX(-5%);
            filter: blur(0.7px);
        }
        100% {
            transform: translateX(-6%);
        }
    }
    /*-----------------FIRST-PAGE-FIM----------------*/

    /*-----------------FOOTER----------------*/
    footer{
        color: #fff9f3;
        background-color: #2A484A;
    }
    
    #imagem_footer{
        max-height: 65vh;
        width: 100%;
        object-fit: cover;
    }
    
    footer p{
        font-family: marcellus;
    }
    
    #nome{
        font-size: 20px;
        font-family: CormorantGaramond;
    }
    
    #footer_info{
        padding-top: 2%;
        padding-left: 6%;
        padding-right: 6%;
        padding-bottom: 2%;
    }
    
    .titulo{
        font-size: 30px;
        font-family: CormorantGaramond;
    }
    
    #infos{
        display: flex;
        flex-wrap: wrap;
        padding-top: 2%;
        justify-content: left;
    }

    #infos div{
        padding-right: 40px;
        padding-bottom: 20px;
    }
    
    #contatos img{
        width: 60px;
    }
    /*-----------------FOOTER-FIM----------------*/
}